/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media(max-width:1200px){
  .header-container,.section-1-container,.section-2-container,.subscribe,.about-section-div,.contacts{
    width: 90%;
  }
  .gallery-container>div{
    margin:0 ;
  }
}

@media(max-width:1120px){
  .section-1-text-div{
    margin-bottom: 50px;
  }

  .section-1-container,.section-2-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-1-text-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .gallery-wrapper img{
    height: 320px;
  }
}

@media(max-width:1000px){
  .about-section-div{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-text-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .gallery-wrapper img{
    height: 300px;
  }

  .contacts{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center ;
        -ms-flex-align:center ;
            align-items:center ;
  }

  .contacts-text-div{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cont{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }

  .map{
    width: 500px;
  }
}

@media (max-width:872px){
  .navigation{
    display: none;
  }

  .burger-icon{
    display: block;
    font-size: 40px;
    color:white;
  }

  .about-section-div{
    width: 90%;
  }

  .section-2-container{
    width: 90%;
  }

  .subscribe{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .subscribe-form{
    margin-top: 10px;
  }

  .gallery-wrapper img{
    height: 290px;
  }
}


@media (max-width:650px){
  .gallery-title{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-flow:column;
            flex-flow:column;
    text-align: center;
  }

  .gallery-title>h2{
    margin-bottom: 10px;
  }

  .gallery-wrapper{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

  .gallery-wrapper img{
     margin-bottom: 10px;
  }

  .gallery-wrapper img:hover{
    -webkit-transform:scale(1);
        -ms-transform:scale(1);
            transform:scale(1);
  }
  .map>iframe{
    width: 300px;
    max-width: 100%;
  }
  .social-media{
    margin:10px;
}

.quick-links{
  margin:10px;
}

.footer-contact{
  margin: 10px;
}
}

@media (max-width:550px){
  .section-1-image-div{
    width: 250px;
    height: 250px;
  }

  .section-1-image-div>img{
    width: 220px;
    height: 220px;
  }

  .event-date>h6{
    font-size: 10px;
  }

  .event>h1{
    font-size: 35px;
  }

  .event h3{
    font-size: 12px;
  }

  .event h5{
    font-size: 10px;
  }

  .email-form{
    width: 180px;
  }
}


@media (max-width:390px){
  .see-all-button{
    width: 200px;
  }

  .section-1-image-div{
    width: 200px;
    height: 200px;
  }

  .section-1-image-div>img{
    width: 180px;
    height: 180px;

  }

  .section-2-image-div{
    height: 600px;
  }
  .event>button{
    width: 80px;
    font-size: 8px;
  }
  .event-date>h6{
    font-size: 8px;
  }

  .event>h1{
    font-size: 28px;
  }

  .event h3{
    font-size: 10px;
  }

  .event h5{
    font-size: 8px;
  }

  .event h4{
    font-size: 12px;
  }

  .email-form{
    width: 100px;
    height: 40px;
  }

  .subscribe-button{
    width: 70px;
    height: 40px;
    font-size: 10px;
}
  .subscribe-title>h2{
      font-size: 25px;
  }
  
  .subscribe-title>h4{
    font-size: 12px;
}

}